body
{
}
#photo-banner img {
    width: 100%;
}

#footer {
    background-color: #c6c6c6;
}

    #footer img {
        width: 7%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }